- if @auth
  #auction-caption
    .hv_user
      You are bidding as #{session[:hv_user]}
    = @auction.name
  %table#auction-create-table
    %tr
      %td Owner:
      %td #{@auction.owner}
    %tr
      %td Description:
      %td #{@auction.description}
    %tr
      %td Expire at:
      %td #{@auction.expire_at}
    %tr
      %td Expire in:
      %td #{distance_of_time_in_words(DateTime.now, @auction.expire_at)}
    %tr#rules
      %td Rules:
      %td
        - @auction.auction_rules.each do |rule|
          .auction-rule-show
            From #{rule.bid_from} credits to #{rule.bid_to == 0 ? "higher" : rule.bid_to} credits: #{rule.bid_step} #{rule.percent? ? "%" : "credits"}
    %tr#items
      %td Items:
      %td
        - @auction.auction_items.each do |item|
          .auction-item-show
            #{item.code}: #{link_to(item.name, item.link)}. Start: #{item.start_bid} credits. Current: <span style="color: red">#{item.current_bid || 0}</span>. Bidder: <span style="color: red">#{item.bidder || "Not yet"}</span>
- else
  You need to click from the e-hentai forums