!!!
%html
  %head
    %title Master619's Portfolio
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #outer
      #header
      #main-menu
        - Statistic::PANES.each do |pane|
          .main-menu-item
            #{ pane }
      #center
        .hide
          %img{:src => "/assets/loading.gif"}
        = yield
      #footer
        Page views: #{ Statistic.page_views }. Copyright @Master619, 2012

:javascript
  function switchPane(item) {
    $('#center').html('<img src="/assets/loading.gif"/>')
    $.ajax({
      url: "/dashboard/switch",
      type: "post",
      data: {
        frame: item
      }
    });
  }

  $(document).ready(function() {
    $(".main-menu-item").each(function(index, value) {
      $(value).click(function() {
        switchPane($(this).text().toLowerCase().trim());
      });
    });
  });